.custom-reset button {
  background-color: yellow;
}

.custom-action button {
  background-color: cyan;
}

.custom-submit button {
  background-color: green;
  color: white;
}


.custom-red button {
  background-color: red;
  color: white;
}

.custom-subsection button {
  margin-top: 1.5rem;
  border-color: blue;
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
}